//
// Color system
//

$primary:      #b44085;


// Navbar

$navbar-dark-color:                 rgba($primary, .5);
$navbar-dark-hover-color:           rgba($primary, .75);
$navbar-dark-active-color:          $primary;
