---
---

// Bootstrap | Variable overrides
@import "variables";

// Bootstrap | Required
@import "bootstrap-4.1.1/functions";
@import "bootstrap-4.1.1/variables";
@import "bootstrap-4.1.1/mixins";

// Bootstrap | Optional
@import "bootstrap-4.1.1/root";
@import "bootstrap-4.1.1/reboot";
@import "bootstrap-4.1.1/type";
@import "bootstrap-4.1.1/images";
// @import "bootstrap-4.1.1/code";
@import "bootstrap-4.1.1/grid";
// @import "bootstrap-4.1.1/tables";
// @import "bootstrap-4.1.1/forms";
@import "bootstrap-4.1.1/buttons";
@import "bootstrap-4.1.1/transitions";
// @import "bootstrap-4.1.1/dropdown";
// @import "bootstrap-4.1.1/button-group";
// @import "bootstrap-4.1.1/input-group";
// @import "bootstrap-4.1.1/custom-forms";
// @import "bootstrap-4.1.1/nav";
// @import "bootstrap-4.1.1/navbar";
@import "bootstrap-4.1.1/card";
// @import "bootstrap-4.1.1/breadcrumb";
// @import "bootstrap-4.1.1/pagination";
// @import "bootstrap-4.1.1/badge";
// @import "bootstrap-4.1.1/jumbotron";
// @import "bootstrap-4.1.1/alert";
// @import "bootstrap-4.1.1/progress";
@import "bootstrap-4.1.1/media";
@import "bootstrap-4.1.1/list-group";
// @import "bootstrap-4.1.1/close";
// @import "bootstrap-4.1.1/modal";
// @import "bootstrap-4.1.1/tooltip";
// @import "bootstrap-4.1.1/popover";
// @import "bootstrap-4.1.1/carousel";
@import "bootstrap-4.1.1/utilities";
// @import "bootstrap-4.1.1/print";

@import "layout";

body {
  quotes: '\201c' '\201d';
}

h1,
.h1 {
  text-align: center;
}

.hero {
  color: $gray-400;
  text-align: center;
  padding-left: 0;
  padding-bottom: $spacer;
  padding-right: 0;

  .topbar {
    color: $white;
    font-size: $h2-font-size;
    text-align: left;
    background: rgba($gray-800, .25);
    border-bottom: 1px solid darken($gray-800, 5%);

    .container {
      padding-top: $spacer * .5;
      padding-bottom: $spacer * .5;
    }

    .logo {
      width: 35px;
    }
  }

  h1,
  .h1 {
    font-size: $h5-font-size;
    font-weight: $font-weight-normal;
    border: none;
    padding-top: $spacer * 2;
  }
  h2,
  .h2 {
    font-size: $h5-font-size;
  }
  .cover {
    padding-top: $spacer;
  }
  .tagline,
  .tagline {
    h2,
    .h2 {
      font-size: $h1-font-size;
      padding-bottom: $spacer * .5;
    }

    .tagline-alerts,
    .tagline-lives {
      text-transform: uppercase;
    }
  }
  .subscription-keyword:before { content: open-quote; }
  .subscription-keyword:after  { content: close-quote; }
  .call-to-action {
    background-color: transparent;
    .card-header {
      background: $primary;
    }
    .card-body {
      background: lighten($primary, 5%);
    }
  }

  @include media-breakpoint-up(md) {
    h1,
    .h1 {
      font-size: $h1-font-size;
    }
    .logo {
      width: 60px;
    }
    .cover {
      padding-top: $spacer * 7;
      padding-bottom: $spacer * 6;
    }
    .tagline {
      h2,
      .h2 {
        font-size: 3.25rem;
        text-align: left;
        padding-bottom: $spacer * 1.25;
      }
      p {
        font-size: 1.5rem;
        text-align: justify;
      }
    }
    h2,
    .h2 {
      font-size: $h2-font-size;
    }
  }

  /* The image used */
  background-image: url('/images/lake-victoria-354533_1920_with_overlay.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-footer {
  border-top: 1px solid $gray-200;
  background-color: $gray-100;
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;

  .card,
  .list-group-item {
    padding: 0;
    border: none;
    background-color: $gray-100;
  }

  h2,
  .card, {
    text-align: center;
  }

  h2 {
    font-size: $font-size-lg;
  }

  @include media-breakpoint-up(sm) {
    h2,
    .card, {
        text-align: left;
    }
  }
}

